<ion-header>
  <ion-toolbar color=primary>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-icon name="logo-ionic" slot="start" href="https://www.https://ionicframework.com/"></ion-icon>
			<ion-icon name="logo-angular" slot="start" href="https://www.angular.io"></ion-icon>
        <p>
          This is a news app built with Ionic 5 & Angular 12
        </p>
    </ion-item>

    <ion-item href="https://newsapi.org">
      <ion-icon name="newspaper-outline" slot="start"></ion-icon>
			<ion-icon name="information-circle" slot="start"></ion-icon>
        <p>
          API news info from NewsAPI.org
        </p>
    </ion-item>

  </ion-list>
</ion-content>