<ion-header>
  <ion-toolbar color=primary>
		<br>
    <ion-title text-center>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="logo-ionic" slot="start"></ion-icon>
			<ion-icon name="logo-angular" slot="start"></ion-icon>
        <p>
          This is a news app built with Ionic 5 & Angular 8
        </p>
    </ion-item>
    <ion-item>
      <ion-icon name="paper" slot="start"></ion-icon>
			<ion-icon name="information-circle" slot="start"></ion-icon>
        <p>
          API news info from NewsAPI.org
        </p>
    </ion-item>
  </ion-list>
</ion-content>