<ion-header>
  <ion-toolbar color=primary>
    <ion-title>
      Contact Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <p>Send me an email</p>
    </ion-item>

		<ion-item>
      <ion-icon name="logo-linkedin" slot="start" href="https://www.linkedin.com/in/andrew-bateman"></ion-icon>
      <p>See me on Linkedin</p>
    </ion-item>

		<ion-item>
      <ion-icon name="logo-github" slot="start" href="https://github.com/AndrewJBateman"></ion-icon>
      <p>See me on Github</p>
    </ion-item>

  </ion-list>
</ion-content>