<ion-tabs>
  <ion-tab-bar slot="bottom" label="News" icon="home" href="/tabs/(news:news)">
    <ion-router-outlet name="news"></ion-router-outlet>
  </ion-tab-bar>
  <ion-tab-bar slot="bottom" label="About" icon="information-circle" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab-bar>
  <ion-tab-bar slot="bottom" label="Contact" icon="contacts" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab-bar>
</ion-tabs>

