<ion-header>
  <ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/tabs/news"></ion-back-button>
		</ion-buttons>
    <ion-title>{{article.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
	
	<ion-card no-padding>
    <ion-img [src]="article.urlToImage"></ion-img>
  
		<ion-card-content no-padding>
  		<ion-list>
    		<ion-item>
      		<ion-icon name="clipboard" slot="start"></ion-icon>
      		Author: {{article.author}} of {{article.source.name}}
    		</ion-item>
				<ion-item>
					<ion-icon name="calendar" slot="start"></ion-icon>
					Published: {{article.publishedAt | date}}
				</ion-item>
  		</ion-list>
			<hr>
      <p>{{article.description}}</p>

      <p>{{article.content}}</p>
	  </ion-card-content>
	</ion-card>
</ion-content>

