<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-title>{{article.title}}</ion-title> -->
		<ion-title>NEWS IN DETAIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="article.urlToImage"></ion-img>
  
    <ion-card-content>
			<ion-title>{{article.title}}</ion-title>
    </ion-card-content>

    <ion-card-content>
			
			<ion-icon name="clipboard" slot="start"></ion-icon><p>By: {{article.author}}</p>
			<p><ion-icon name="calendar" slot="start"></ion-icon>Published: {{article.publishedAt}}</p>
      <p>{{article.description}}</p>
    </ion-card-content>

    <ion-card-content>
      <p>Additional info: {{article.content}}</p>
    </ion-card-content>

  </ion-card>
</ion-content>

