<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-title>{{article.title}}</ion-title> -->
		<ion-title>NEWS IN DETAIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	
	<ion-card>
    <ion-img [src]="article.urlToImage"></ion-img>
  
		<ion-card-content>
  		<ion-list>
    		<ion-item>
      		<ion-icon name="clipboard" slot="start"></ion-icon>
      		Author: {{article.author}} of {{article.source.name}}
    		</ion-item>
				<ion-item>
					<ion-icon name="calendar" slot="start"></ion-icon>
					Published: {{article.publishedAt}}
				</ion-item>
  		</ion-list>
			<hr>
      <p>{{article.description}}</p>

      <p>{{article.content}}</p>
	  </ion-card-content>
	</ion-card>
</ion-content>

